$lightGreen : #b9e7e7;
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGreen;
    
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;   
        
        button{
            background-color: rgb(43, 70, 226);
            border-radius: 10px;
            border: 2px solid white;
            padding: 20px 30px;
            font-size: .5rem;
            box-shadow: 10px 10px 10px #000000b6;
            display: flex;
            justify-content: center;
            align-items: center;   
        }

    }  
   
    
}